# Archivos de Log
logs/
*.log

# Archivos de compilación de Maven
target/

# Archivos del IDE (IntelliJ)
.idea/
*.iml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración local (si los tuvieras)
application-local.properties
